<div class="container" style="margin-top: 150px;">
  <div class="row" *ngFor="let car of CarsList" >

    <div class="col-md-6" >
      <img [src]="path+car.picURL" height="200" width="350" alt="ooops">
    </div>

    <div class="col-md-3" >
      <div style="color:blue;font-weight: bold;"> {{car.brand}}  {{car.model}}  </div>
      <div>Year : {{car.year}}</div>
      <div>MileAge : {{car.mileAge}} km</div>
      <div>State : {{car.state}}</div>
      <button class="btn btn-danger btn-block" (click)="Delete(car.id)" >Delete</button>
    </div>
    </div>

  </div>
